body{
    background-color: rgb(78, 7, 63);
}

h1{
    display: flex;
    font-size: 4.5rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;   
}